
    <div class="card rounded" style="width: 18rem;">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body bg-secondary text-white">
        <h2 class="card-title">{{name}}</h5>
        <h3 class="card-text">{{ role }}</h3>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">ID Number: {{ id }}</li>
        <li class="list-group-item">Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
        <li class="list-group-item">School: {{ school }}</li>
      </ul>
  </div>